<!DOCTYPE html>
<html data-ng-app="csrl">
  <head>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap.css">
  </head>
  <body data-ng-controller="demoController">
    <div class="container">
      <div class="row" style="margin-bottom: 60px">
        <div data-ng-repeat="item in results" class="col-xs-12">
          <h3><a data-ng-click="clickResult(item)">{{item.id}}: {{item.title}}</a></h3>
          <em>{{item.url}}</em>
          <p>{{item.description}}</p>
        </div>
      </div>

      <div class="well" style="position:absolute; bottom:0; left:0; width:100%; margin-bottom:0;">
        <div class="row">
          <div class="col-xs-2 text-center">
            <a data-ng-click="reset()" class="btn btn-danger">Reset</a>
          </div>
          <div class="col-xs-10">
            {{learner.load()}}
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="libs/jquery.min.js"></script>
    <script type="text/javascript" src="libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="libs/angular.min.js"></script>
    <script type="text/javascript" src="dist/learner.js"></script>
    <script type="text/javascript" src="dist/app.js"></script>
  </body>
</html>
