<!DOCTYPE html>
<html data-ng-app="csrl">
  <head>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap.css">
  </head>
  <body data-ng-controller="demoController">
    <div class="container" style="margin-top:30px;">
      
      <div data-ng-repeat="item in results" class="row">
        <h1><a data-ng-click="clickResult(item)">{{item.id}}: {{item.title}}</a></div>
        <div>{{item.url}}</div>
        <div>{{item.termScores}}</div>

      </div>

      <div class="well">
        <div class="row">
          <div class="col-xs-2 text-center">
            <a data-ng-click="reset()" class="btn btn-danger">Reset</a>
          </div>
          <div class="col-xs-10">
            {{learner.stats()}}
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="libs/jquery.min.js"></script>
    <script type="text/javascript" src="libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="libs/angular.min.js"></script>
    <script type="text/javascript" src="../dist/learner.js"></script>
    <script type="text/javascript" src="dist/app.js"></script>
  </body>
</html>